<ng-container *ngIf="user$ | async as user">
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
            <div class="image d-flex flex-column justify-content-center align-items-center mt-5">
  
              <div
                class="avatar-contianer"
              >
                {{ user.name | firstLetter }}
              </div>
  
              <span class="name mt-3">
                {{ user.name }}
              </span>
  
              <div
                class="d-flex flex-row justify-content-center align-items-center gap-2"
              >
                <span
                  class="email"
                >
                  {{ user.email }}
                </span>
                <span>
                  <i class="fa fa-copy"></i>
                </span>
              </div>
            </div>
        </div>
    </div>
  </ng-container>
  
  
  
